.array-container {
    height: 100vh; /* Magic here */
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.array-bar {
    width: 30px;
    height: 30px;
    background-color: aqua;
    display: inline;
    margin: 0 2px;
}
